.card {
  background-color: $board;
  border-radius: 25px;
  box-shadow: 5px 5px 5px $boardshadow;
  display: grid;
  grid-template-areas: 
  "pic"
  "btn"
  "start";
  grid-template-rows: 2fr 1fr 1fr;
  height: 450px;
  margin: auto;
  padding: 5px;
  width: 70%;
}

.card h4 {
  color: white;
  margin: 0;
  text-align: center;
}

.card-btns {
  text-align: center;
}

.card-btn {
  background-color: $btnpink;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px $btnshadow;
  font-family: $bodyfont;
  font-size: 14px;
  font-weight: 900;
  grid-area: start;
  height: 35px;
  letter-spacing: .5px;
  margin: 25px;
  text-transform: uppercase;
  &:hover {
    box-shadow: .1em .2em .2em $playername;
    cursor: pointer;
  }
}

