.scoreboard {
  background-color: #046380;
  display: inline-block;
  opacity: .6;
  width: 20%;
}

.scoreboard h1 {
  margin: 0;
}

.player {
  color: hsla(315, 75%, 15%, 1);
  font-family: 'Rock Salt', cursive;
  text-align: center;
}