.scoreboard {
  background-color: $scoreboard;
  display: inline-block;
  opacity: .75;
  margin: 10px 0;
  width: 40%;
}

.scoreboard h1 {
  margin: 0;
}

.player, .p-score {
  color: $playername;
  font-family: $hfont;
}