.scoreboard {
  background-color: $scoreboard;
  border-radius: 25px;
  box-shadow: 4px 4px 4px $playershadow;
  display: block;
  opacity: .75;
  margin: auto;
  width: 40%;
}

.scoreboard h1 {
  margin: 0;
}

.player, .p-score {
  color: $playername;
  font-family: $hfont;
}