// main color scheme
$darkpink: hsla(315, 75%, 15%, 1);
$board: hsla(170, 75%, 15%, .8);
$playername: hsla(205, 95%, 85%, 1);
$btnpink: #FC6D95;
$scoreboard: #046380;


// fonts
$bodyfont: 'Lato', sans-serif;
$hfont: 'Rock Salt', cursive;