// main color scheme
$darkpink: hsla(315, 75%, 15%, 1);
$board: hsla(170, 75%, 15%, .8);
$playername: hsla(205, 95%, 85%, 1);
$btnpink: #FC6D95;
$scoreboard: #046380;
$boardshadow: hsla(170, 5%, 15%, 1);
$playershadow: #034f66;
$btnshadow: #c03;
$mbtn: #F5E1DF;


// fonts
$bodyfont: 'Lato', sans-serif;
$hfont: 'Rock Salt', cursive;